<template>
  <Row justify="space-between" :gutter="32" class="grid_container">
    <Col :span="colSpan">
      <div class="list_col">
        <img src="@/assets/Mvp/mvp_pfp.gif">
        <div class="item_info">
          <div class="number">MVP #108</div>
          <div class="price">55.68 ETH</div>
        </div>
        <button>BUY</button>
       </div>
    </Col>
  </Row>
</template>

<script>
import { Row } from "view-ui-plus"
export default {
  name:'Mvpitem',
  component: {
    Row
  }
}
</script>

<style lang="scss" scoped>
.grid_container {
          padding: 50px;
          .list_col {
            position: relative;
            height: 320px;  
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
              width: 100%;
              object-fit: contain;
              border: 1px solid #696969;
              border-radius: 15px;
            }
            .item_info{
              height: 50px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              div{
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                line-height: 17px;
              }
            }
            button{
              position: absolute;
              right: 0;
              bottom: 0;
              width: 59px;
              height: 26px;
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
              color: #B99C61;
              background: rgba(105, 105, 105, 0.5);
              border-radius: 13px;
              border: 0;
            }
          }
        }
</style>