<template>
  <div class="offer_list">
    <Row class="offer_title">
        <Col span="12"><p>Price</p></Col>
        <Col span="4"><p>Size</p></Col>
        <Col span="4"><p>Total</p></Col>
        <Col span="4"><p>Bidders</p></Col>
    </Row>
    <Row 
    v-for="item in MvpOfferData"
    :key="item.key"
    class="offer_info">
      <Col span="12">
        <p>{{ item.price }}</p>
      </Col>
      <Col span="4">
        <p>{{ item.size }}</p>
      </Col>
      <Col span="4">
        <p>{{ item.total }}</p>
      </Col>
      <Col span="4">
        <p>{{ item.bidders }}</p>
      </Col>
    </Row>
  </div>
</template>

<script>

import { reactive } from 'vue'

export default {
name:'Mvpoffer',
setup(){
  const MvpOfferData = reactive([
    {
      key: 0,
      price: '20 WETH',
      size: 1,
      total: '20 WETH',
      bidders: '1'
    },
    {
      key: 1,
      price: '19 WETH',
      size: 1,
      total: '19 WETH',
      bidders: '1'
    },
    {
      key: 2,
      price: '18 WETH',
      size: 1,
      total: '18 WETH',
      bidders: '1'
    },
    {
      key: 3,
      price: '17 WETH',
      size: 1,
      total: '17 WETH',
      bidders: '1'
    },
    {
      key: 4,
      price: '17 WETH',
      size: 1,
      total: '17 WETH',
      bidders: '1'
    },
    {
      key: 5,
      price: '17 WETH',
      size: 1,
      total: '17 WETH',
      bidders: '1'
    },
    {
      key: 6,
      price: '17 WETH',
      size: 1,
      total: '17 WETH',
      bidders: '1'
    },
  ])
  return {
    MvpOfferData
  }
}
}
</script>

<style lang="scss" scoped>
.offer_title{
  height: 60px;
  padding: 14px 40px;
  border-bottom: 1px solid #696969;
  p{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02rem;
    color: #696969;
  }
}
.offer_info{
  height: 60px;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02rem;
    color: #ffffff;
    p{
      text-align: left;
    }
  }
}
</style>