<template>
  <div class="home_container">
    <div class="memeland_title">
    <p>MEME<br>LAND</p>
    </div>
    <div class="social">
      <img src="@/assets/Home/discord.png"/>
      <img src="@/assets/Home/twitter.png"/>
      <img src="@/assets/Home/instagram.png"/>
    </div>
    <div class="text">
      <p class="text_title">BRING OWNERSHIP TO EVERY COMMUNITY IN THE WORLD.</p>
      <p class="text_info">From the team that brought you 9GAG comes Memeland, a web3-focused venture studio. We are building and investing in social products for community, with community. We are connecting creators and communities together through creativity, $MEME, and NFTs.</p>
      <p class="text_info">When we started 9GAG in 2008, we were nobody, and we knew nothing. We joined 500 Startups in 2011, raised seed funding, joined Y Combinator in 2012, and never stopped shipping. A decade later, we are still nobody, but 9GAG now has a global audience of 200 million across different social platforms.</p>
      <p class="text_info">Today, we are trying something new. With the help of blockchain technology, we want to invite you to join us and build our community and company together. As with all things 9GAG, we like to under-promise and over-deliver. We don't know how big Memeland will become, but we promise we will give our best.</p>
    </div>
    <div class="collection">
      <p class="collection_title">OUR COLLECTIONS</p>
      <Row>
        <Col span="12" class="collection_layout">
          <div class="collection_item">
            <img src="@/assets/Home/mvp-banner-card.a2291057.png">
            <div class="collection_content">
              <div class="date">JUNE 2022</div>
              <div class="title">TOU THE REAL MVP</div>
              <div class="info">420 trophies of mythical power, forged in Memeland.</div>
            </div>
            <button class="collection_button"><p>Buy</p></button>
          </div>
        </Col>
        <Col span="12" class="collection_layout">
          <div class="collection_item">
            <img src="@/assets/Home/potatoz-banner-card.25f3bbaf.png">
            <div class="collection_content">
              <div class="date">JULY 2022</div>
              <div class="title">THE POTATOZ</div>
              <div class="info">9,999 small species leading the way to Memeland.</div>
            </div>
            <button class="collection_button"><p>Buy</p></button>
          </div>
        </Col>
        <Col span="12" class="collection_layout">
          <div class="collection_item">
            <img src="@/assets/Home/captainz-banner-card.e9bdb453.png">
            <div class="collection_content">
              <div class="date">JANUARY 2023</div>
              <div class="title">THE CAPTAINZ</div>
              <div class="info">9,999 pirate Capatinz searching for the legendary Memland.</div>
            </div>
            <button class="collection_button"><p>Buy</p></button>
          </div>
        </Col>
        <Col span="12" class="collection_layout">
          <div class="collection_item">
            <img src="@/assets/Home/treasure-islandz-banner-card.a117cf99.png">
            <div class="collection_content">
              <div class="date">TBC</div>
              <div class="title">TREASURE ISLANDZ</div>
              <div class="info">Not the classic novel by Robert Louis Stevenson. Duh!</div>
            </div>
            <button class="collection_button"><p>Buy</p></button>
          </div>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',

}
</script>
<style lang="scss" scoped>
@font-face {
  font-family: 'HudsonNYPro-Bold';
  src: url('@/fonts/HudsonNYPro-Bold.ttf') format("truetype"),
}
.home_container{
  width: 1200px;
  margin: 0 auto;
  background-color: #000000;
  text-align: center;
  .memeland_title{
    height: 470px;
    margin: 140px auto;
    font-family: 'HudsonNYPro-Bold';
    font-size: 215px;
    line-height: 200px;
    color: #ffffff;
  }
  .social {
    width: 20%;
    height: 50px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    img{
      height: 50px;
      width: 50px;
    }
  }
  .text{
    margin: 0 auto;
    .text_title{
      margin: 200px 0 100px 0;
      font-family: 'HudsonNYPro-Bold';
      font-size: 32px;
      color:#ffffff;
    }
    .text_info{
      margin:0 auto 80px auto;
      width: 930px;
      font-family: 'inter';
      font-size: 18px;
      font-style: normal;
      line-height: 24px;
      color:#ffffff;
    }
  }
  .collection{
    width: 1040px;
    margin: 0 auto 180px auto;
    .collection_title{
      margin: 150px 0 100px 0;
      font-family: 'HudsonNYPro-Bold';
      font-size: 64px;
      color:#ffffff;
    }
    .collection_layout{
      text-align: left;
      padding: 30px;
      height: 354px;
      .collection_item{
        height: 100%;
        position: relative;
        img{
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.5;
        }
        .collection_content{
          position: absolute;
          top: 25px;
          left: 25px;
          .date{
            margin-bottom: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 39px;
            color: #ffffff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          }
          .title{
            margin-bottom: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 39px;
            color: #ffffff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          }
          .info{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            text-shadow: 0px 4px 140px rgba(0, 0, 0, 0.5);
          }
        }
        .collection_button{
          position: absolute;
          bottom: 25px;
          right: 25px;
          width: 110px;
          height: 50px;
          border-radius: 10px;
          border: 0;
          p{
            font-family: 'Inter';
            font-style: bold;
            font-weight: 700;
            font-size: 22px;
            line-height: 35px;
            color: #000000;
          }
        }
      }
    }
  }
}
</style>
