<template>
  <div class="container">
    <div class="collection">
      <img class="banner" src="@/assets/Mvp/banner.png" />
      <img class="pfp" src="@/assets/Mvp/mvp_pfp.gif" />
    </div>
    <div class="collection_info">
      <div class="name">YOU THE REAL MVP</div>
      <div class="info_layout">
        <div class="info">Items 420</div>
        <div class="info">Created Jun 2022</div>
        <div class="info">Creator earnings 3.33%</div>
        <div class="info">Chain Ethereum</div>
        <div class="info">Category PFPs</div>
      </div>
      <div class="content">
        420 TROPHIES OF MYTHICAL POWER, FORGED IN MEMELAND.Over the last decade,
        420 beautifully crafted gold trophies were discovered in different
        historical sites worldwide. They all have the same inscription:In i dór
        -o i greatest memes lies i greatest mír. Roughly translated, these words
        mean: In the Land of the Greatest Memes lies the Greatest Treasure.
      </div>
    </div>
    <Row>
      <Col span="4" class="content_layout">
        <p class="value">4,281 ETH</p>
        <p class="unit">total volume</p>
      </Col>
      <Col span="4" class="content_layout">
        <p class="value">55.68 ETH</p>
        <p class="unit">floor price</p>
      </Col>
      <Col span="4" class="content_layout">
        <p class="value">35WETH</p>
        <p class="unit">best offer</p>
      </Col>
      <Col span="4" class="content_layout">
        <p class="value">0.2%</p>
        <p class="unit">listed</p>
      </Col>
      <Col span="4" class="content_layout">
        <p class="value">280</p>
        <p class="unit">owners</p>
      </Col>
      <Col span="4" class="content_layout">
        <p class="value">67%</p>
        <p class="unit">unique owners</p>
      </Col>
    </Row>
    <div class="collection_list">
      <div class="list_nav">
        <div class="actived" @click="selectedButton = 'Mvpitem'">Items</div>
        <div @click="selectedButton = 'Mvpoffer'">Offers</div>
        <div @click="selectedButton = 'Mvpactivity'">Activity</div>
      </div>
      <div class="list_filter">
        <div class="filter" @click="toggleFilter">
          <img src="@/assets/Mvp/sort.png" />
          <p>Filter</p>
        </div>
        <p class="results">420 results</p>
      </div>
      <div class="list_layout">
        <div v-if="isFilter" class="left">
          <div class="traits">Traits</div>
          <div class="traits">
            <div class="traits_type" @click="toggleCollapse">
              <div class="name">Trophy</div>
              <div class="number">9</div>
              <img src="@/assets/Mvp/expend.png" />
            </div>
            <div class="type_style">
              <div v-if="isCollapsed">
                <!-- 折疊面板的內容 -->
                <div>Kraken</div>
                <div>Shark</div>
                <div>Treasure</div>
                <div>Parrot</div>
                <div>Skull</div>
                <div>Pirate</div>
                <div>Ship</div>
                <div>Mermaid</div>
                <div>Poseidon</div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <component :is="selectedButton"></component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Row } from "view-ui-plus"
import { ref, computed } from "vue"
import Mvpitem from "@/components/Mvp/Mvpitem.vue"
import Mvpoffer from "@/components/Mvp/Mvpoffer.vue"
import Mvpactivity from "@/components/Mvp/Mvpactivity.vue"

export default {
  name: "Mvp",
  components: {
    Mvpitem,
    Mvpoffer,
    Mvpactivity,
    Row
  },
  setup() {
    const isCollapsed = ref(false);
    const isFilter = ref(true);
    const toggleCollapse = () => {
      isCollapsed.value = !isCollapsed.value;
    };
    const toggleFilter = () => {
      isFilter.value = !isFilter.value;
    };
    const colSpan = computed(() => {
      return isFilter.value ? 8 : 6;
    });

    const selectedButton = ref('Mvpitem');


    return {
      isCollapsed,
      toggleCollapse,
      isFilter,
      toggleFilter,
      colSpan,
      selectedButton
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 1200px;
  // height: auto;
  margin: 0 auto;
  .collection {
    width: 100%;
    height: 390px;
    margin: 60px 0;
    position: relative;
    .banner {
      width: 100%;
      height: 100%;
      border: 1px solid #696969;
      border-radius: 20px;
      object-fit: cover;
    }
    .pfp {
      width: 170px;
      height: 170px;
      border: 2px solid #ffffff;
      border-radius: 15px;
      position: absolute;
      bottom: -30px;
      left: 80px;
    }
  }
  .collection_info {
    margin: 50px auto 0 auto;
    .name {
      font-family: "Segoe UI";
      font-style: bold;
      font-weight: 700;
      font-size: 28px;
      line-height: 39px;
      color: #ffffff;
    }
    .info_layout {
      display: flex;
      .info {
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin: 20px 20px 20px 0;
      }
    }
    .content {
      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }
  .content_layout {
    margin: 50px 0;
    .value {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      color: #ffffff;
    }
    .unit {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #696969;
    }
  }
  .collection_list {
    width: 1200px;
    height: 920px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 2px solid #b99c61;
    .list_nav {
      height: 70px;
      display: flex;
      padding-left: 80px;
      border-bottom: 1px solid #696969;
      div {
        margin-right: 60px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 70px;
        color: #696969;
        cursor: pointer;
        &.actived {
          color: #b99c61;
          border-bottom: 4px solid #b99c61;
        }
      }
    }
    .list_filter {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 46px;
      border-bottom: 1px solid #696969;
      .filter {
        height: 70px;
        display: flex;
        img {
          width: 20px;
          object-fit: contain;
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 70px;
          color: #b99c61;
          margin-left: 13px;
          cursor: pointer;
        }
      }
      .results {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #696969;
      }
    }
    .list_layout {
      display: flex;
      height: 780px;
      .left {
        width: 290px;
        padding: 16px 32px;
        border-right: 1px solid #696969;
        .traits {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 55px;
          color: #ffffff;
          .traits_type {
            display: flex;
            align-items: center;
            cursor: pointer;
            .name {
              margin-right: 100px;
            }
            .number {
              margin-right: 30px;
              font-weight: 500;
              font-size: 18px;
              line-height: 55px;
              color: #696969;
            }
            img {
              width: 16px;
              height: 8px;
            }
          }
          .type_style {
            font-size: 16px;
          }
        }
      }
      .right {
        flex: 1;
      }
    }
  }
}
</style>