<template>
  <div class="container">
    <div class="nav_flex">
        <div 
        class="logo"
        @click="navigate('/')" >
            <img src="@/assets/Header/memecoin.2d4ea136.gif"/>
            <p>MARKETZ</p>
        </div>
        <div class="nav_item">
            <p 
            :class="{ 'actived': isActive('/mvp') }" 
            @click="navigate('/mvp')"
            >MVP</p>
            <p 
            :class="{ 'actived': isActive('/captainz') }" 
            @click="navigate('/captainz')"
            >CAPTAINZ</p>
            <p 
            :class="{ 'actived': isActive('/potatoz') }" 
            @click="navigate('/potatoz')"
            >POTATOZ</p>
            <p
            :class="{ 'actived': isActive('/islandz') }" 
            @click="navigate('/islandz')"
            >ISLANDZ</p>
            <div class="search">
                <img src="@/assets/Header/search.png"/>
                <p>Search</p>
            </div>
        </div>
        <div class="wallet">
            <p>CONNECT WALLET</p>
        </div>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'

export default {
    name:'Header',
    setup(){
        const router = useRouter();

        const navigate = (path) => {
            router.push(path);
        };

        const isActive = (path) => {
            return router.currentRoute.value.path === path;
        };

        return {
            navigate,
            isActive
        };
    }
}
</script>

<style lang="scss" scoped>
.container{
    width: 1200px;
    height: 60px;
    background-color: #000000;
    margin: 0 auto;
    .nav_flex{
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                width: 40px;
                height: 40px;
            }
            p{
                font-family: 'Segoe UI';
                font-weight: bold;
                font-size: 14px;
                margin-left: 25px;
                color:#ffffff;
            }
            
        }
        .nav_item{
            width: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: 'Segoe UI';
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                &.actived{
                color: #B99C61;
            }
            }
            .search{
                width: 200px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid rgba(102, 102, 102, 0.5);
                display: flex;
                align-items: center;
                img{
                    height: 20px;
                    width: 20px;
                    margin-left: 10px;
                }
                p{
                    font-family: 'inter';
                    font-weight: 400;
                    font-size: 14px;
                    margin-left: 10px;
                    color: rgba(102, 102, 102, 0.8);
                }
            }
        }
        .wallet{
            width: 180px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgba(102, 102, 102, 0.5);
            text-align: center;
            p{
                font-family: 'Segoe UI';
                font-size: 16px;
                font-weight: bold;
                color:#ffffff;
                line-height: 40px;
            }
        }
    }
}
</style>