<template>
  <div class="container">
    <div class="footer_flex">
        <div class="copyright">@ 2023 Memeland</div>
        <div class="social">
            <img src="@/assets/Home/discord.png"/>
            <img src="@/assets/Home/twitter.png"/>
            <img src="@/assets/Home/instagram.png"/>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'Footer'
}
</script>

<style lang="scss" scoped>
.container{
    width: 1200px;
    height: 100px;
    background-color: #000000;
    margin: 0 auto;
    position: relative;
    .footer_flex{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #FFFFFF;
        .copyright{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
        .social{
            width: 10%;
            height: 25px;
            display: flex;
            justify-content: space-between;
            img{
            height: 25px;
            width: 25px;
            }
        }
    }
    ::before{
        content: '';
        width: 120px;
        height: 40px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    ::after{
        content: '';
        width: 40px;
        height: 40px;
        background-image: url('@/assets/Header/memecoin.2d4ea136.gif');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
</style>