<template>
  <Header/>
  <router-view></router-view>
  <Footer/>
</template>

<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
  name: "App",
  components:{
    Header,
    Footer,
  }
};
</script>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background-color: #000000;
}
</style>
